@media screen and (min-width:400px) {

.title {

  font-family: 'Oxygen', sans-serif;
  color:#4B0082;
}


.table-hover{

  text-align: left;
}


.booksTable {
  
  height: 550px;
  width: 800px;
  overflow: auto;
  text-align:center; 
  font-family: 'Oxygen', sans-serif; 
  overflow: scroll;
}


.table-nonfluid {

   width: 93% !important
}

.scroll {

  clear: both;
	height: 350px;
	overflow: auto;	
}

.emailBooks {

  border:1px;
  border-color:#CCC;
  height:500px;
  margin-left: 100px;
  width:300px;
  font-family: 'Oxygen', sans-serif;
}

.form-control {

  clear: both;
}

.containerInput{
  display:inline-block;
  width: 100%;
  clear: both;
}

.buttons{
  display:inline;

}


html,body {
    height:100%;
    width: 100%;
}

body {
    display: table;
}

.container {
    height: auto;
    text-align: center;
}

.footer {
    display: table-row;
    height: 1px;
    
}

.right {

	text-align: right;
}

.admin-center {

	text-align: center;
}

img {
  
  /* width: 80%; */
  height: auto;
  width: auto;
  
}
.btn-size {

  width: 26px;
}